@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nick's CO453 Portfolio'</h1>
    <ul>
        <li><a href ="Home/Distance">App01 </a></li>
        <li>App02</li>
    </ul>
</div>
