@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CO453 Portfolio</h1>
    <h3> By Nick Day 20192722</h3>


    <ol>
        <li> <a href="/Home/Distance">App01 Distance Converter</a></li>
        <li> <a href="/Home/Student">App03 Student Grades</a></li>
    </ol>
</div>
