@using ConsoleAppProject.App01
@{
}

<header class="jumbotron">
    <h1>App01 Distance Converter</h1>
    <h2>By Derek Peacock</h2>
</header>
<section>
    <p>
        Please choose your from distance unit
    </p>
    <select>
        <option>@DistanceConverter.MILES</option>
        <option>@DistanceConverter.METRES</option>
        <option>@DistanceConverter.FEET</option>
    </select>
</section>
