@{
    ViewData["Title"] = "Home Page";
    int number = 34;
}

<header class="text-center">
    <h1 class="display-4">CO453 Applications Programmig</h1>
    <h2>By Derek Peacock</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section  class="text-center">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/Home/Convertor">App01 Distance Convertor</a>
        </li>
        <li class="list-group-item">App02 BMI Calculator</li>
    </ul>
</section>
