@model ConsoleAppProject.App01.DistanceConverter
@using ConsoleAppProject.App01

@{
    ViewData["Title"] = "DistanceConverter";
}

<h1>DistanceConverter</h1>




<h4>DistanceConverter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DistanceConverter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.from" class="control-label"></label>
                <input asp-for="fromDistance" class="form-control" />
                <span asp-validation-for="fromDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="toDistance" class="control-label"></label>
                <input asp-for="toDistance" class="form-control" />
                <span asp-validation-for="toDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
